
.overlay {
    &:after { 
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background:transparent;
      transition: all 1s ease;
      animation-delay: 1.3s;
      z-index: 0;
    }
    &.overlay-hover:hover {
      cursor: pointer;
      &:after { 
        content: '';
        background:black;
        opacity: .4;
        transition: all .5s ease;
      }
    }
  }