html, body {
  position: relative;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #f1f1ef;
}

.highlight {
  background-image: linear-gradient(to right, transparent 50%, $primary 50%);
  background-origin: 0;
  background-size: 200% 50%;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-position 0.4s;
  &:hover{
     background-position: -100% 100%; 
  }
}
.font-sans {
  font-family: 'Montserrat', Arial, sans-serif;
}
.text-vw { font-size: 10vw; }

// Desktop
@media only screen and (min-width: 990px) {
  .text-6xl {
    font-size: 5rem;
  }
  .text-7xl {
    font-size: 7rem;
  }
  .icon-xl { font-size: 15rem; }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .lg\:text-11xl {
      font-size: 10rem;
      line-height: 1.0;
  }
}

// Small
@media only screen and (max-width: 990px) { 
  .sm\:hide {
    display: none;
  }
}

.bg-primary {
  background-color: $primary;
}
.hover\:bg-primary:hover {
  background-color: $primary;
  transition: all .3s ease;
}

.h-70 {
  height: 330px;
}

button:focus {
  outline: solid 1px black;
}