
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container-v {
    height: 50%;
}
.swiper-pagination-v {
    bottom: 30px !important;
}
.swiper-next {
    position: absolute;
    bottom: 9px;
    right: 5%;
    z-index: 10;
    color: white;
    font-size: 90px;
}
.swiper-pagination-bullet-active {
    border: solid 5px white !important;
}
.swiper-pagination-bullet {
    border: solid 1px white;
    opacity: 1;
    background-color: transparent;
}

// Desktop
@media only screen and (min-width: 990px) {
    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        margin: 30px 30px !important;
    }
}
.h-swiper {
    height: 70vh;
}
.h-swiper-folio {
    height: 78vh;
}
[v-cloak] { display: none; }
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
}
